doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(class=is_valid ? "auth" : "")
        include shared/_nav

        section.content-primary
            .navbar.navbar-default.nvarbar-static-top(role='navigation')
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/', title='Time Tracker') Mana
            .container
                #failed-notification.alert.alert-danger.fade
                    strong Title
                    p Content
                #success-notification.alert.alert-success.fade
                    strong Title
                    p Content
                if notification
                    .alert.fade.in(class="alert-" + notification.type)
                        strong= notification.title
                        p= notification.msg
                block content

        script(type='text/javascript', src='/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
        | <!--[if lt IE 9]>
        |    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        |    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        | <![endif]-->

        script.
            $(function(){
                $('.navbar-toggle').click(function(){
                    $('.content-primary').toggleClass('active');
                });

                $('.nav-link').click(function(){
                    $('.content-primary').toggleClass('active');
                });

                var notifications = $('.alert.in');
                setTimeout(function(){
                    notifications.fadeOut();
                }, 2500);
            });
        block js
        script(src='//localhost:35729/livereload.js')